    {% load staticfiles %}
    <html>
    <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/question.css' %}">
    <title>hackocracy</title></head>

    <body>
        <div class="page-header">

            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" style="background-color: #222; color: #eee8e8" href="{% url 'question:question_list' %}">TaxZilla</a>
                    </div>
                <ul class="nav navbar-nav">

                <li><a href="{% url 'question:question_new' %}">Ask Question</a></li>
                </ul>
            </div>
            </nav>

        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>



    </html>
