{% extends 'question/base.html' %}

{% block content %}
	{%for question in questions%}
    <div class="list-group">
   <a href="{% url 'question:details' question.id%}" data-background-color="red" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h3 class="mb-1">{{question.title}}</h3>
      <small>{{question.published_date}}</small>
    </div>
    <p class="mb-1">{{question.description}}</p>
    <small>Author:{{question.author}}</small>
  </a>
    </div>

	{%endfor%}
{% endblock %}	
